<div id="jquery_jplayer_1" class="jp-jplayer display-none"></div>
<div id='jp_container_1' class="jp-audio display-none" role="application" aria-label="media player">
	<button class='jp-pause' role='button' tabindex="0">
		Mute.
	</button>
	<button class='jp-play active' role='button' tabindex="0">
		Mute.
	</button>
</div>
