<div id='filter' class='breadcrumb-filter'>
  <div id='filter-title' class='filter-title'>Filter</div>
  <select id='hidden-select' style='display:none;'>
    <option value=''>Filter</option>
    <option value='/collections/all/tops'>Tops</option>
    <option value='/collections/all/bottoms'>Bottoms</option>
    <option value='/collections/all/accessories'>Accessories</option>
    {% for link in linklists.all-collections.links %}
      {% assign collection = link.object %}
      <option value='{{ collection.url }}'>{{ collection.title }}</option>
    {% endfor %}
  </select>
</div>

<div id='filter-dropdown' class='filter-dropdown'></div>
