<div class="collection">
	<a href="{{ collection.url }}">
		{{ collection.image.src | img_url: 'grande' | img_tag: collection_title }}
		<div class='collection__name'>
			<div class='collection__name__inner'>
				<div class='header'>{{ collection.title }}</div>
				<div class='separator'>&dagger;</div>
				<div class='subheader'>Collection</div>
			</div>
		</div>
	</a>
</div>
