<div class='filters'>
  <div class='filters__inner'>
    <div class='half left'>
      <div class='filters-title'>
        Filter results:
      </div>
      <div class='filters-list'>
        {% for tag in collection.tags %}
          <div class='filter' data-tag='{{ tag | handle }}'>{{ tag }}</div>
        {% endfor %}
      </div>
    </div>
    <div class='half right'>
      <!--Search &#x1F50D;-->
    </div>
  </div>
</div>
