<div class='filters'>
  <div class='filters__inner'>
    <div class='container left'>
      <div class='filters-title'>
        Filter
      </div>
      <div class='filters-list hidden'>
        <div class='filter tag-new' data-tag='new'>new</div>
        <div class='filter tag-tops' data-tag='tops'>tops</div>
        <div class='filter tag-bottoms' data-tag='bottoms'>bottoms</div>
        <div class='filter tag-accessories' data-tag='accessories'>accessories</div>
        <div class='filter tag-dress' data-tag='dress'>dress</div>
        {% comment %}
          {% for tag in collection.all_tags %}
            <div class='filter tag-{{ tag | handle }}' data-tag='{{ tag | handle }}'>{{ tag }}</div>
          {% endfor %}
        {% endcomment %}
      </div>
    </div>
    <!--Search &#x1F50D;-->
  </div>
</div>
