<div class='footer'>
  <div class='footer__inner'>
    <div class='column'>
      &dagger;<br /><br />
      {% include 'footer-social-media' %}
    </div>
    <div class='column'>
      &dagger;<br /><br />
      <div class='list-item'><a href='/'>Home.</a></div>
      <div class='list-item'><a href='/'>Latest Video.</a></div>
      <div class='list-item'><a href='/#collections'>Collections.</a></div>
      <div class='list-item'><a href='/pages/about'>About.</a></div>
    </div>
    <div class='column'>
      &dagger;<br /><br />
      {% include 'footer-cart' %}
    </div>
    <div class='column'>
      &dagger;<br /><br />
      <div class='list-item'>&copy; {{ 'now' | date: "%Y" }} Alabama Blonde</div>
      <div class='list-item'><a href='http://www.xavierburrow.com' target='_blank'>Webdesign by xb.<a></div>
    </div>
  </div>
</div>
