{% include 'global_promotional-bar' %}

{% if template == 'index' %}
<div class='nav nav--index'>
{% else %}
<div class='nav'>
{% endif %}
	<div class='nav__inner'>
		<div class='nav__logo'>
			<div class='nav__title'>
				<a href='/'>Alabama Blonde.</a>
			</div>
			<!--<img src='{{ 'alabama-blonde_logo_small_10e1bfd7-61fc-47ab-85ac-0ca717d607fe.png' | file_url }}' alt='Alabama Blonde Logo'/>-->
		</div>
		<div class='nav__main'>
			<div class='nav__item'><a href='/'>Home</a></div>
			<div class='nav__item'><a href='/pages/about'>About</a></div>
			<div class='nav__item'><a href='/blogs/blog'>Blog</a></div>
			<div class='nav__item'><a href='/pages/editorials'>Editorial</a></div>
			<div class='nav__item'><a href='/collections/all'>Shop</a></div>
			<div class='nav__item'><a href='/pages/contact'>Contact</a></div>
		</div>
		<div class='nav__side'>
			<div class='nav__item'><a href='https://www.instagram.com/alabamablonde' target='_blank'>Insta</a></div>
			<div class='nav__item'><a href='/cart/'>Cart</a></div>
		</div>
	</div>
</div>

{% unless template == 'index' %}
	{% include 'global_sub-nav' %}
{% endunless %}
{% if template contains 'collection' and collection.handle == 'all' %}
	{% include 'collection_filters' %}
{% endif %}
