{% if settings.promo_url != blank %}
  <div class='promo active'>
    <div class='promo__inner'>
      <a href='{{ settings.promo_url }}'>
        {{ settings.promo_label }}
      </a>
    </div>
  </div>
{% endif %}
