<div class="collection hidden">
	<a href="{{ collection.url }}">
		{{ collection.image.src | img_url: 'grande' | img_tag: collection_title }}
		<div class='collection__name'>
			<div class='collection__name__inner'>
				<div class='item-header'>{{ collection.title }}</div>
				<div class='item-type'>Collection</div>
				<div class='item-separator'>&dagger;</div>
			</div>
		</div>
	</a>
</div>
