<div class="columns">
	{% for i in (0..2) %}
	<div class="columns__column columns__column-third">
		{% assign index = 0 %}
		{% assign colNo = 1 %}
		{% for article in blog.articles %}
			{% assign test = index | minus:i | modulo:3 %}
			{% if test == 0 %}
				{% include 'GRID_SINGLE_article' %}
			{% endif %}
			{% assign index = index | plus: 1 %}
			{% assign colNo = colNo | plus: 1 %}
		{% endfor %}
	</div>
	{% endfor %}

	{% comment %} MEDIUM SCREEN {% endcomment %}
	{% for i in (0..1) %}
	<div class="columns__column columns__column-half">
		{% assign index = 0 %}
		{% assign colNo = 1 %}
		{% for article in blog.articles %}
			{% assign test = index | minus:i | modulo:2 %}
			{% if test == 0 %}
				{% include 'GRID_SINGLE_article' %}
			{% endif %}
			{% assign index = index | plus: 1 %}
			{% assign colNo = colNo | plus: 1 %}
		{% endfor %}
	</div>
	{% endfor %}
</div>
