<div class="loading-screen">
	<div class="loading-msg">
		{% if template == "index" %}
			Hold up.
		{% elsif template == "collection" %}
			One sec.
		{% else %}
			Loading.
		{% endif %}
		<br /><br />
	</div>
</div>