<div class="nav">
	<div class="nav__inner">
		<div class="nav__inner__title">
			<a href='/{% unless template == 'index' %}#collections{% endunless %}'>
				<div class="nav__inner__title-main">Alabama Blonde.</div>
			</a>
		</div>
		<div class='nav__inner__menu'>
			<div class='nav-item'>
				<a href="/products">Shop.</a>
			</div>
			{% unless template == 'index' %}
				<div class='nav-item'>
					<a href='/#collections'>Collections.</a>
				</div>
			{% endunless %}
			<div class='nav-item'>
				<a href="/cart">Cart{% if cart.item_count > 0 %}&nbsp;({{ cart.item_count }}){% endif %}.</a>
			</div>
			<div class='nav-item menu-button'>Menu.</div>
		</div>
	</div>
</div>

{% include 'nav-promo' %}
{% include 'nav-subnav' %}
