<div class="nav">
	<div class="nav__inner">
		<div class="nav__inner__title">
			{% if template == 'index' %}
				<a href='/'>
			{% elsif template == "collection" %}
				<a href='/#collections'>
			{% elsif template == "product" %}
				{% for collection in product.collections %}
					{% assign index = 0 %}
					{% if index == 0 %}
						<a href='{{ collection.url }}'>
					{% endif %}
					{% assign index = index | plus:1 %}
				{% endfor %}
			{% else %}
				<a href='/#collections'>
			{% endif %}
			{% if template == "product" %}
					<div class="nav__inner__title-main">{{ product.title }}</div>
			{% elsif template == "collection" %}
					<div class="nav__inner__title-main">{{ collection.title }}</div>
			{% else %}
					<div class="nav__inner__title-main">Alabama BLONDE</div>
			{% endif %}
			</a>
		</div>
		<div class='nav__inner__menu'>

			<div class='nav-item'>
				<a href="/shop/">shop</a>
			</div>
			<div class='nav-item'>
				<a href="/#collections/">cart{% if cart.item_count > 0 %}({{ cart.item_count }}){% endif %}</a>
			</div>
			<div class='nav-item menu-button'>menu</div>
		</div>
	</div>
</div>
