/*
::-webkit-scrollbar {
  width: $space * 1.25;
  height: $space * 1.25;
}

::-webkit-scrollbar-thumb {
	background: $colourSelected;
}

::-webkit-scrollbar-track {
   background: $colourBackground;
}

::-webkit-scrollbar-corner {
   opacity: 0;
}
*/
