.cart {
	width: 100%;
	display: flex;
	padding-top: $space * 2;
	padding-bottom: $space * 4;
	font-size: $fontSize;

	.cart-products {
		width: 62%;
		padding-right: $space * 2;

		.cart-products-title {
			width: 100%;
			border-bottom: 1px solid black;
			padding-bottom: $space;
			padding-top: $space * 3;
		}

		.cart-item {
			@include pad-y(4);
			padding-right: $space;
			width: 100%;
			display: flex;

			.cart-item__image {
				width: 20%;

				img {
					max-width: 100%;
				}
			}

			.cart-item__info {
				width: 80%;

				.cart-item-title {
					width: 100%;
					display: flex;

					.title {
						width: 70%;

						a {
							&:hover {
								opacity: 0.5;
							}
						}

						.variant {
							font-size: 80%;
							color: $darkGrey;
						}
					}

					.remove {
						width: 30%;
						padding-top: $space * 0.5;
						text-align: right;
						font-size: $fontSmall;

						&:hover {
							opacity: 0.5;
						}
					}
				}

				.cart-item-price {
					display: flex;
					flex-wrap: wrap;
					padding-top: $space * 2;

					.single-price {
						display: inline-block;
						font-size: $fontSmall;
						padding-right: $space;
					}

					.item-qty {
						display: inline-block;
						@include pad(0, 0, 0, 1.5);
						width: 100px;

						.js-qty {
							display: flex;
							width: 100%;

							button {
								width: 20px;
								border: none;
								border-radius: 0;
								display: flex;
								align-items: center;
								justify-content: center;
							}

							input {
								width: 40px;
								text-align: right;
								border: none;
								border-radius: 0;
								padding-right: $space / 2;
								background: #eee;
							}
						}
					}

					.total-price {
						width: 100%;
						padding-top: $space / 2;

						.tax-notice {
							font-size: $fontTiny;
						}
					}
				}
			}
		}
	}

	.cart-checkout {
		width: 38%;
		padding: $space;
		text-align: right;
		font-size: $fontSize;

		.checkout {
			padding: $space * 2;
			background-color: lighten($colourNav, 40%);

			.checkout-title {
				width: 100%;
				border-bottom: 1px solid black;
				padding-bottom: $space;
			}

			p {
				font-size: inherit;
			}

			.checkout-subtotal {
				padding-top: $space * 3;
				padding-bottom: $space;

				.tax-notice {
					font-size: $fontTiny;
				}
			}

			.checkout-buttons {
				@include pad(0.5, 0, 1.5, 0);
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-end;

				button {
					border-radius: 0;
					padding: $space;
					font-family: $fontStack;
					font-size: $fontSize;
					font-weight: normal;
					margin-right: $space / 2;
				}

				.update-cart {
					@include pad(0, 0.0, 0.5, 0.0);
					border: none;
					text-decoration: underline;
					font-size: $fontSmaller + 1px;
					margin-bottom: $space / 2;
					background: none;

					&:hover {
						opacity: 0.5;
					}
				}

				.checkout-cart {
					border: $borderBlack;
					@include pad(1, 2, 1, 2);
				}
			}

			.disclaimers {
				width: 100%;
				font-size: $fontTiny;
			}

			.instructions {
				@include pad(1, 3, 1.5, 0);
				width: 100%;

				.title {
					font-size: $fontSmall;
					padding-bottom: $space;
					font-style: italic;
					//text-decoration: underline;
				}

				textarea {
					width: 100%;
					font-size: $fontTiny;
				}
			}

			.payments {
				font-size: $fontSmaller;
				font-style: italic;
				display: flex;
				justify-content: flex-end;

				.payment-type {
					img {
						width: 28px;
						filter: saturate(50%);
						padding-right: $space / 2;
					}
				}
			}
		}
	}

	@media screen and (max-width: $mobile) {
		flex-wrap: wrap;

		.cart-products {
			width: 100%;
			padding-right: 0;

			.cart-item {
				.cart-item__image {
					width: 23%;
					padding-top: $space;
				}

				.cart-item__info {
					width: 77%;
					padding-left: $space * 2;

					.cart-item-title {
						font-size: $fontSmall;

						.remove {
							padding: $space * 0.25;
							font-size: $fontMedium;
						}
					}

					.cart-item-price {
						.total-price {
							font-size: $fontSmall;
						}
					}
				}
			}
		}

		.cart-checkout {
			width: 100%;
			padding: 0;
			text-align: left;

			.checkout {
				.checkout-buttons {
					align-items: flex-start;
					justify-content: flex-start;
					flex-direction: column;

					.update-cart {
						@include pad(0.5, 0, 0.5, 0);
					}

					.checkout-cart {
						margin-top: $space;
					}
				}

				.instructions {
					@include pad(1, 0, 2.5, 0);
				}
			}
		}
	}
}

// shopify auto classes

.js-qty {
	button, input {
		.visually-hidden {
			display: none;
		}
	}
}

#CartSpecialInstructions {
	//border-top: $space/2 solid $colourText;
}

.single-option-selector {
	margin: 0;
}
