.cart {
	width: 100%;
	display: flex;
	padding-top: $space * 2;
	padding-bottom: $space * 4;
	font-size: $fontSize;

	@media screen and (max-width: $mobile) {
		flex-wrap: wrap;
		padding-top: 0;
	}
}

// shopify automatic classes
.js-qty {
	button, input {
		.visually-hidden {
			display: none;
		}
	}
}

#CartSpecialInstructions {
	border-top: $space/2 solid $colourText;
}

.single-option-selector {
	margin: 0;
}
