.product-page {
	width: 100%;
	display: flex;
	padding: 0;
	padding-top: $space * 3;
	flex-wrap: wrap;

	.product-page__title {
		width: 100%;
		font-size: $fontLarge;
		font-family: $fontStackCursive;
		padding-bottom: $space;
		margin-bottom: $space * 2;
		border-bottom: $borderBlack;
	}

	@media screen and (max-width: $mobile) {
		padding-top: $space;

		.product-page__title {
			font-size: $fontLargeMobile;
			letter-spacing: normal;
		}
	}
}
