.breadcrumb {
  width: 100%;
  height: $sizeBreadcrumb;
  display: flex;
  justify-content: center;
  //background: $lightGrey;
  color: $darkGrey;

  .breadcrumb__inner {
    @include pad-x(2);
    width: $large;
    font-size: $fontSmall;
    display: flex;
    align-items: center;

    .list-item {
      padding-right: $space;
      padding-left: $space;

      &:nth-child(1) {
        padding-left: 0;
      }
    }

    @media screen and (max-width: $large) {
      width: 100%;
    }
  }
}
