.nav {
	@extend .noselect;
	@include pad(1, 1, 1, 1);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $sizeNav;
	color: $white;
	background-color: $colourNav;
	font-weight: normal;
	display: flex;
	justify-content: center;
	transition: background-color $transitionSlow, color $transitionSlow;
	z-index: $zNav;
  transform: translate3d(0, 0, 0);

	.nav__inner {
		@include pad-x(1);
		width: $large;
		height: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		.nav__inner__title {
			font-size: $fontMediumLarge;
			border-bottom: $border;
			margin-bottom: $space * 0.125;
			cursor: pointer;

			&:hover {
				border-color: $colourDark;
			}

			a {
				@include pad(1, 0, 1, 0);
				display: flex;
			}
		}

		.nav__inner__menu {
			display: flex;
			font-size: $fontSize;

			.nav-item {
				padding-left: $space * 2;
				cursor: pointer;

				&.active, &:hover {
					color: $colourAlt;
				}
			}
		}

		@media screen and (max-width: $large) {
			width: 100%;
		}
	}

	&.active {
		transform: translateY(-55px) !important;
		background-color: lighten($colourNav, 25%);

		.nav__inner {
			.nav__inner__title {
				font-size: $fontMedium;
				border: 0px solid $colourNav;
				margin-bottom: 0;
				background: none;

				a {
					padding: 0;
				}
			}
		}
	}
}
