.nav {
	@extend .noselect;
	@include pad(1, 1, 1, 1);
	position: fixed;
	top: 0 !important;
	left: 0;
	width: 100%;
	height: $sizeNav;
	color: $white;
	background-color: $colourNav;
	font-weight: normal;
	display: flex;
	justify-content: center;
	transition: background-color $transitionSlow, color $transitionSlow;
	z-index: $zNav;
  transform: translate3d(0, 0, 0);

	.nav__inner {
		@include pad-x(1);
		width: $large;
		height: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		.nav__inner__title {
			font-size: $fontMediumLarge;
			border-bottom: $space solid $white;
		}

		.nav__inner__menu {
			display: flex;
			font-size: $fontMedium;

			.nav-item {
				padding-left: $space * 1.5;
				cursor: pointer;

				&.active, &:hover {
					color: $colourAlt;
				}
			}
		}

		@media screen and (max-width: $large) {
			width: 100%;
		}
	}

	&.active {
		transform: translateY(-45px) !important;
		background-color: lighten($colourNav, 25%);

		.nav__inner {
			.nav__inner__title {
				border-bottom: 0px solid $colourNav;
			}
		}
	}
}
