$fontStack: 'Karla', serif;
$fontStackSansSerif: 'Karla', sans-serif;
$letterSpacing: 1px;
$lineHeight: 1.2;

// sizing
$fontTiny: 12px;
$fontSmaller: 13px;
$fontSmall: 14px;
$fontSize: 16px;
$fontMedium: 20px;
$fontMediumLarge: 29px;
$fontLarge: 32px;
