// stack

$fontStack: 'Playfair Display', sans-serif;

// letter

$letterSpacing: 1px;

// sizing

$fontSize: 26px;
$fontLarge: 52px;
$fontMedium: 48px;
$fontSmall: 32px;

// relative sizing

$fontSizeH1: 80%;
$fontSizeH2: 60%;
$fontSizeP: 50%;
$fontSizeNav: 100%;
$fontSizeMenu: 100%;
$fontSizeFooter: 50%;
$fontSizeFooterMobile: 44%;
$fontSizeCart: 50%;
$fontSizeCartMobile: 45%;
$fontSizeFormLabel: 45%;
$fontSizeFormInput: 45%;
$fontSizeSmaller: 65%;
$fontSizeHalf: 50%;
