.noselect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

@mixin pad-y($y) {
	padding-top: $space * $y;
	padding-bottom: $space * $y;
}

@mixin pad-x($x) {
	padding-left: $space * $x;
	padding-right: $space * $x;
}

@mixin pad-xy($x, $y) {
	padding-top: $space * $y;
	padding-bottom: $space * $y;
	padding-left: $space * $x;
	padding-right: $space * $x;
}

@mixin pad($t, $l, $b, $r) {
	padding-top: $space * $t;
	padding-bottom: $space * $b;
	padding-left: $space * $l;
	padding-right: $space * $r;
}

.mobile-hide {
	@media screen and (max-width: $medium) {
		display: none;
	}
}

.mobile-show {
	display: none;

	@media screen and (max-width: $medium) {
		display: block;

		&.mobile-inline {
			display: inline;
		}
	}
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

.inline {
	display: inline;
}

.float-right {
	float: right;
}

.page-break {
	width: 100%;
	border-bottom: $space solid $colour;
}

.display-none {
	display: none;
}

.spacer {
	width: 100%;
	height: $space * 2;
}
