.noselect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

@mixin padding($x, $y) {
	padding-top: $space * $y;
	padding-bottom: $space * $y;
	padding-left: $space * $x;
	padding-right: $space * $x;
}

@mixin margin($x, $y) {
	margin-top: $space * $y;
	margin-bottom: $space * $y;
	margin-left: $space * $x;
	margin-right: $space * $x;
}

.tablet-hide {
	@media screen and (max-width: $tablet) {
		display: none !important;
	}
}

.tablet-show {
	display: none;

	@media screen and (max-width: $tablet) {
		display: block;

		&.mobile-inline {
			display: inline;
		}
	}
}

.mobile-hide {
	@media screen and (max-width: $mobile) {
		display: none !important;
	}
}

.mobile-show {
	display: none;

	@media screen and (max-width: $mobile) {
		display: block;

		&.mobile-inline {
			display: inline;
		}
	}
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

.inline {
	display: inline;
}

.float-right {
	float: right;
}

.page-break {
	width: 100%;
	border-bottom: $space solid $black;
}

.display-none {
	display: none;
}

.spacer {
	width: 100%;
	height: $space * 2;
}
