// colour
$black: #080808;
$white: #fff;
$red: #a8020e;
$colourHover: #f00;
$colourActive: pink;
$colourNav: $black;
$colourNavActive: $black;
$colourBreadcrumb: #ddd;
$colourBreadcrumbText: #444;
$colourText: $black;
$colourMobileMenu: rgba($black, 0.9);

// gradients/ backgrounds
$backgroundCartForm: linear-gradient(to right, $colourBreadcrumb, lighten($colourBreadcrumb, 25%));
$backgroundCustom: repeating-linear-gradient(-45deg, $black, $black 1px, rgba($black, 0) 1px, rgba($black, 0) 8px);
$backgroundCustomAlt: repeating-linear-gradient(-45deg, rgba($white, 0), rgba($white, 0.05) 32px);
$backgroundImage1: url("https://cdn.shopify.com/s/files/1/1950/6433/files/crosshatch64.png?17626610360363650453");
$dropShadow: 5px 5px 10px rgba($black, 0.5);

// size
$space: 8px;
$spaceBorder: $space / 3;
$sizeSubNav: 50px;
$sizeBreadcrumb: 35px;
$navHeight: 90px;
$navThreshold: 32px;
$sizeSidebar: 220px;
$sizeFilterDropdown: 300px;

// breakpoints
$siteWidth: 1200px;
$mobile: 700px;
$tablet: 900px;

// index
$indexNav: 100;
$indexFilterDropdown: 80;
$indexNavDropdown: 90;
$indexPromo: 101;
$indexFooter: 10;
$indexMobileMenu: 90;
$indexAudioIcon: 95;
$indexLandingPage: 200;
$indexLoadingScreen: 300;
$indexPassword: 999;

// transition
$transition: 0.25s;
$transitionNormal: 0.25s;
$transitionSlow: 0.5s;
$transitionSlower: 0.75s;

// borders
$border: 4px double $white;
$borderBlack: 4px double $black;
$borderSingle: 1px solid $black;
$borderSingleGrey: 1px solid rgba($black, 0.4);
$borderDouble: $borderBlack;
$borderBlock: $space*2 solid $black;
