// colour

$black: #000;
$white: #fff;
$colour: $black;
$colourAlt: #87020e; //#ff9900;
$colourDark: darken($colourAlt, 5%);
$colourSelected: #000;
$colourBackground: $white;
$colourText: #000;
$grey: #aaa;
$colourNav: #808080;

// size
$space: 8px;
$spaceBorder: $space / 3;
$sizeNav: 140px;
$sizeNavActive: 90px;

// index
$zNav: 50;
$indexMenu: 40;
$indexMenuButton: 60;
$indexPrompt: 25;
$indexLanding: 100;
$indexLandingPrompt: 101;
$indexLoading: 200;
$indexAudio: 55;
$indexFooter: 36;

// transition
$transition: 0.25s;
$transitionNormal: 0.25s;
$transitionSlow: 0.5s;
$transitionSlower: 0.75s;

// breakpoints
$small: 480px;
$medium: 769px;
$large: 1160px;
