// colour
$black: #080808;
$white: #fff;
$red: #a8020e;
$colourHover: magenta;
$colourActive: yellow;
$colourNav: #1c1c1c;
$colourBreadcrumb: #aaa;
$colourBreadcrumbText: #444;
$colourText: $black;

// size
$space: 8px;
$spaceBorder: $space / 3;
$sizeSubNav: 50px;
$sizeBreadcrumb: 35px;
$siteWidth: 1160px;
$navHeight: 74px;
$navThreshold: 32px;

// index
$indexNav: 100;
$indexPromo: 101;
$indexFooter: 10;
$zMenu: 50;
$zLandingPage: 200;
$zLoadingScreen: 300;
$indexPassword: 999;

// transition
$transition: 0.25s;
$transitionNormal: 0.25s;
$transitionSlow: 0.5s;
$transitionSlower: 0.75s;

// breakpoints
$small: 480px;
$mobile: 700px;
$medium: 769px;
$tablet: 960px;
$large: $siteWidth;

// borders
$border: 4px double $white;
$borderBlack: 4px double $black;
