.page {
  @include pad-x(1);
  width: 100%;
  margin: 0 auto;

  &.full {
    width: 100%;
  }

  &.credits {
    padding-top: $space * 4;
    padding-bottom: $space * 6;
  }

  &.snap {
    margin: 0;
  }

  &.thin {
    width: 75%;

    .video-wrapper {
      width: 100%;
      margin: 0;
      padding: 0;

      iframe {
        width: 100%;
        background: $black;
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  @media screen and (max-width: $tablet) {
    width: 100%;

    &.thin {
      width: 80%;
    }
  }

  @media screen and (max-width: $mobile) {
    &.thin {
      width: 100%;
    }
  }
}
