.page--about {
  @include padding(0, 2);

  p {}

  iframe {
    margin-top: $space * 6;
    margin-bottom: $space * 6;
  }

  .page--about__title {
    font-family: $fontStack;
    font-weight: bold;
  }

  .page--about__info {
    font-size: $fontSmall;
    font-style: italic;
    text-decoration: underline;
  }

  .snptwdgt-container {
    width: 100%;
  }
}

.page--about__banner {
  width: 100%;
  height: 45vh;
  margin-top: $navHeight;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: $mobile) {
    height: 240px;
  }
}
