.jp-audio {
	position: fixed;
	bottom: $space * 2;
	right: $space * 4;
	z-index: $zMenu + 1;
	background: $colour;

	&:hover {
		background: $colourAlt;
	}

	.jp-pause, .jp-play {
		padding-left: $space / 2;
		padding-top: $space / 2;
		border: none;
		background: none;
		padding: $space * 1.6;
		outline: none !important;
		margin: 0;
		transition: $transition;
		font-weight: bold;
		font-size: $fontSize;
		color: $white;

		img {
			width: 20px;
			height: 20px;
		}

		&.active {
			display: none;
		}
	}

	.jp-play {
		text-decoration: line-through;
	}

	@media screen and (max-width: $large) {
		left: auto;
		right: 0;
	}

	@media screen and (max-width: $medium) {
		display: none;
	}
}
