.product {
	width: 100%;
	margin-bottom: $space;
	-webkit-transition: opacity $transitionSlow;
	transition: opacity $transitionSlow;
	padding: $space;

	.product__image {
		position: relative;
		overflow: hidden;

		a {
			img {
				display: block;
				width: 100%;
				height: auto;
				-webkit-transition: $transitionSlow;
				transition: $transitionSlow;
				margin: 0;
			}

			.product__prompt {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				pointer-events: none;
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
				opacity: 0;
				transition: $transitionSlow;

				.popup {
					@include pad(0.5, 1, 0.5, 1);
					font-size: $fontSmaller;
					background: $white;
					overflow: hidden;
					margin: $space * 2;
				}
			}
		}
	}

	.product__info {
		@include pad(1, 0, 1, 0);
		width: 100%;
		display: flex;
		color: $darkGrey;

		.name {
			font-size: $fontSmall;
			width: 65%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			&:hover {
				opacity: 0.5;
			}
		}

		.price {
			text-align: right;
			font-size: $fontSmall;
			width: 35%;

			.from {
				font-size: 9px;
			}
		}

		@media screen and (max-width: $mobile) {
			flex-wrap: wrap;

			.name {
				width: 100%;
				font-size: $fontSmaller;
			}

			.price {
				width: 100%;
				font-size: $fontSmaller;
				text-align: left;
			}
		}
	}

	@media screen and (max-width: $mobile) {
		padding: $space / 4;
	}

	&:hover, &:active, &.scrolled {
		a {
			img {
				-webkit-transform: scale(1.05, 1.05);
				transform: scale(1.05, 1.05);
			}

			.product__prompt {
				opacity: 1;
			}
		}
	}
}
