.breadcrumb {
  @extend .noselect;
  top: 0;
  left: 0;
  width: 100%;
  height: $navHeight + $sizeSubNav;
  padding-top: $navHeight;
  background: $colourBreadcrumb;
  display: flex;
  justify-content: center;
  font-size: $fontSize;
  color: $colourBreadcrumbText;

  .breadcrumb__inner {
    width: $siteWidth;
    height: 100%;
    display: flex;
    //flex-wrap: wrap;
    align-items: center;
    overflow: hidden;

    .list-item {
      padding-right: $space;
      padding-left: $space;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;
      white-space: nowrap;

      a {
        &:hover {
          opacity: 0.5;
        }
      }

      &:nth-child(1) {
        padding-left: 0;
      }
    }

    .breadcrumb-filter {
      flex: 1;
      display: flex;
      justify-content: flex-end;

      select {
        width: 120px;
        border-radius: 3px;
        background-color: $colourBreadcrumb;
        direction: rtl;
        -webkit-appearance: none;
        -moz-appearance: none;
        @include padding(0.5, 0);
      }
    }

    &.align-right {
      justify-content: flex-end;

      .list-item {
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  @media screen and (max-width: $siteWidth) {
    .breadcrumb__inner {
      width: 100%;
      @include padding(2, 0);
    }
  }

  @media screen and (max-width: $mobile) {
    font-size: $fontSmall;
    height: $navHeight + $sizeSubNav * 0.75;

    .breadcrumb__inner {
      .list-item {
        display: none;
        //padding-right: $space * 0.5;
        //padding-left: $space * 0.5;
        //max-width: 200px;
      }

      span {
        display: none;
      }
    }
  }
}
