.breadcrumb {
  @extend .noselect;
  top: 0;
  left: 0;
  width: 100%;
  height: $navHeight + $sizeSubNav;
  padding-top: $navHeight;
  background: $colourBreadcrumb;
  display: flex;
  justify-content: center;
  font-size: $fontSmall;
  color: $colourBreadcrumbText;

  .breadcrumb__inner {
    width: $large;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .list-item {
      padding-right: $space;
      padding-left: $space;
      text-overflow: ellipsis;
      text-transform: capitalize;

      a {
        &:hover {
          opacity: 0.5;
        }
      }

      &:nth-child(1) {
        padding-left: 0;
      }
    }

    &.align-right {
      justify-content: flex-end;

      .list-item {
        &:last-child {
          padding-right: 0;
        }
      }
    }

    @media screen and (max-width: $large) {
      width: 100%;
    }
  }

  @media screen and (max-width: $mobile) {
    font-size: $fontSmaller;
    height: $navHeight + $sizeSubNav * 0.75;

    .sub-nav__inner {
      @include pad(0, 2, 0, 1);

      .list-item {
        padding-right: $space * 0.5;
        padding-left: $space * 0.5;

        &:nth-child(3) {
          white-space: nowrap;
          max-width: 100px;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        &:last-child {
          max-width: 100%;
        }
      }
    }
  }
}
