.filters {
  @extend .noselect;
  width: 100%;
  display: flex;
  justify-content: center;

  .filters__inner {
    width: $large;
    padding: $space * 2;
    display: flex;
    font-size: $fontSmall;
    color: $colourText;

    .container {
      width: 100%;
      display: flex;
      flex-direction: column;

      .filters-title {

      }

      .filters-list {
        width: 100%;
        display: flex;
        padding-top: $space * 1.5;
        transition: $transitionSlow;

        &.hidden {
          opacity: 0.25;
        }

        .filter {
          @include pad(0.5, 1.5, 0.5, 1.5);
          cursor: pointer;
          border: 1px solid lighten($colourNav, 25%);
          border-radius: 3px;
          margin-right: $space * 1.5;
          font-size: $fontSmaller;
          font-family: $fontStackSansSerif;
          text-transform: uppercase;

          &:hover {
            background: lighten($colourNav, 25%);
            color: $white;
          }

          &.active {
            background: $colourNav;
            color: $white;
          }
        }
      }

      &.right {
        align-items: flex-end;
      }
    }

    @media screen and (max-width: $large) {
      width: 100%;
    }

    @media screen and (max-width: $mobile) {
      .container {
        .filters-list {
          flex-wrap: wrap;

          .filter {
            margin-right: $space * 0.5;
            margin-bottom: $space;
          }
        }
      }
    }
  }
}
