.footer {
	padding-top: $space * 4;
	padding-bottom: $space * 8;
	width: 100%;
	font-size: $fontSmall;
	color: $white;
	background: $colourNav;
	background: linear-gradient($colourNav, darken($colourNav, 20%));
	display: flex;
	justify-content: center;
	margin-top: $space * 2;
	z-index: $indexFooter;

	.footer__inner {
		width: $siteWidth;
		padding: $space;
		display: flex;

		&.footer__inner--mobile {
			display: none;
		}

		.column {
			width: 25%;
			height: 100%;
			display: flex;
			flex-direction: column;
			padding: $space;

			&:nth-child(3) {
				border-right: none;
			}

			.list-item {
				@include padding(0, 0.25);

				a {
					display: flex;

					&:hover {
						color: $colourHover;
					}
				}
			}
		}

		@media screen and (max-width: $siteWidth) {
			width: 100%;
		}

		@media screen and (max-width: $mobile) {
			display: none;

			&.footer__inner--mobile {
				display: flex;
			}

			.column {
				width: 50%;
			}
		}
	}
}

.payments-title {
	color: $colourText;
}
