.footer {
	@include pad(4, 0, 8, 0);
	width: 100%;
	font-size: $fontSmall;
	color: $white;
	background: $colourNav;
	background: linear-gradient($colourNav, darken($colourNav, 20%));
	display: flex;
	justify-content: center;
	margin-top: $space * 2;
	z-index: $indexFooter;

	.footer__inner {
		width: $large;
		padding: $space;
		display: flex;

		.column {
			width: 25%;
			height: 100%;
			display: flex;
			flex-direction: column;
			padding: $space;

			&:nth-child(3) {
				border-right: none;
			}

			.list-item {
				@include pad-y(0.25);

				a {
					display: flex;

					&:hover {
						color: $colourHover;
					}
				}
			}
		}

		@media screen and (max-width: $large) {
			width: 100%;
		}
	}

	@media screen and (max-width: $mobile) {
		font-size: $fontSmaller;

		.footer__inner {
			padding: $space / 2;

			.column {
				padding: $space / 2;
			}
		}
	}
}

.payments-title {
	color: $colourText;
}
