label {
	display: block;
	font-family: $fontStack;
}

textarea {
	display: block;
	font-family: $fontStack;
	border: 1px solid $colourText;
	font-size: $fontSmall;
	letter-spacing: 0;
	outline: none !important;
}

select, button, input {
	font-family: $fontStack;
	display: block;
	letter-spacing: 0;
	outline: none !important;
}

button {
	font-weight: bold;
	cursor: pointer;
	font-family: $fontStack;

	&:hover {
		background: none;
	}
}

.js-qty {}

input[type="submit"] {
	cursor: pointer;
	font-size: 100%;
	outline: none !important;
	font-family: $fontStack;
	border: $spaceBorder solid $colourText;

	&:hover {
		background: none;
	}
}

input[type="checkbox"] {
	display: inline;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: none;
	border: $spaceBorder solid black;
	outline: none !important;
	font-family: $fontStack;
}
