.product {
	width: 100%;
	margin-bottom: $space;
	transition: opacity $transitionSlow;
	@include padding(0, 1);

	.product__image {
		position: relative;
		overflow: hidden;

		a {
			img {
				display: block;
				width: 100%;
				height: auto;
				-webkit-transition: $transitionSlow;
				transition: $transitionSlow;
				margin: 0;
			}

			.product__prompt {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				pointer-events: none;
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
				opacity: 0;
				//transition: $transitionSlow;

				.popup {
					@include padding(1, 0.5);
					font-size: $fontSmall;
					background: $white;
					overflow: hidden;
					margin: $space * 2;
				}
			}
		}
	}

	.product__info {
		@include padding(0, 1);
		width: 100%;
		display: flex;
		color: $colourText;

		.name {
			font-size: $fontSize;
			width: 65%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			//letter-spacing: normal;

			&:hover {
				opacity: 0.5;
			}
		}

		.price {
			position: relative;
			text-align: right;
			font-size: $fontSize;
			width: 35%;

			.from{
				font-size: 9px;
			}

			.tax-notice {
				font-size: 9px;
				position: absolute;
				right: 0;
				top: 0;
				padding-top: $space * 2.5;
			}
		}

		@media screen and (max-width: $mobile) {
			flex-wrap: wrap;

			.name {
				width: 100%;
				font-size: $fontSmall;
			}

			.price {
				width: 100%;
				font-size: $fontSmall;
				text-align: left;
			}
		}
	}

	@media screen and (max-width: $mobile) {
		padding: $space / 4;
	}

	&:hover, &:active, &.scrolled {
		a {
			img {
				transform: scale(1.05, 1.05);
			}

			.product__prompt {
				opacity: 1;
			}
		}
	}
}
