.nav {
  position: fixed;
  width: 100%;
  height: $navHeight;
  display: flex;
  justify-content: center;
  transition: background-color $transition;
  font-size: $fontSize;
  background: $colourNav;
  color: $white;
  z-index: $indexNav;
  @extend .noselect;

  &.nav--index {
    background: rgba($colourNav, 1);
  }

  .nav__inner {
    width: $siteWidth;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: $space;

    .nav__main {
      height: 100%;
      display: flex;
      align-items: flex-end;
    }

    .nav__logo {
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      font-size: $fontLarge;
      line-height: $fontLarge - 3px;

      .nav__title {
        white-space: nowrap;
        transition: $transition;
        font-family: $fontStackCursive;
        text-transform: uppercase;

        .nav__dagger {
          display: inline-block;
          transition: $transition;
        }

        &:hover {
          .nav__dagger {
            transform: translateY(-5px);
          }
        }
      }

      img {
        width: 100%;
        height: auto;
      }

      @media screen and (max-width: $mobile) {
        font-size: $fontLargeMobile;
        letter-spacing: normal;
      }
    }

    .nav__mobile {
      display: none;
      align-items: flex-end; 

      .nav__hamburger {
        width: 32px;
        height: 32px;
        background: red;
      }
    }
  }

  .nav__item {
    @include padding(1, 0);
    line-height: 1;
    //text-transform: uppercase;
    position: relative;

    a {
      position: relative;

      .nav__slider {
        pointer-events: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        border-bottom: 1px solid $colourHover;
        transition: $transition;
      }

      .dropdown-hint {
        display: inline-block;
        width: 6px;
        height: 6px;
        border-bottom: 1px solid $white;
        border-right: 1px solid $white;
        transform: translate(0px, -3px) rotate(45deg);
      }

      &:hover {
        .nav__slider {
          opacity: 1;
          width: 100%;
        }

        .dropdown-hint {
          border-color: $colourHover;
        }
      }
    }

    &.nav__item--icon {
      padding-left: $space / 2;
      padding-right: 0;

      img {
        width: 20px;
        height: auto;
        transform: translateY(1px);
      }

      a:hover {
        opacity: 0.5;
      }
    }
  }

  @media screen and (max-width: $mobile) {
    position: absolute; // changes to fixed &.active

    .nav__inner {
      .nav__mobile {
        display: flex;
      }
    }
  }

  &.active {
		transform: translateY(-$navThreshold) !important;
		background: $colourNavActive;
    position: fixed;

    .nav__title {
      color: $red;
    }
  }

  @media screen and (max-width: $siteWidth + $space * 8) {
    .nav__inner {
      width: 100%;
      padding-left: $space * 2;
      padding-right: $space * 2;
    }
  }
}
