.nav {
  position: fixed;
  width: 100%;
  height: $navHeight;
  display: flex;
  justify-content: center;
  transition: background-color $transition;
  font-size: $fontSize;
  background: $colourNav;
  color: $white;
  z-index: $indexNav;
  @extend .noselect;

  &.nav--index {
    background: rgba($colourNav, 1);
  }

  .nav__inner {
    width: $siteWidth;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: $space / 2;

    .nav__main {
      height: 100%;
      display: flex;
      align-items: flex-end;
      padding-left: $space;
    }

    .nav__logo {
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: $space / 2;
      font-size: $fontLarge;
      line-height: $fontLarge - 3px;

      .nav__title {
        white-space: nowrap;
        transition: $transition;
        font-family: $fontStackCursive;
        text-transform: uppercase;

        .nav__dagger {
          display: inline-block;
          transition: $transition;
        }

        &:hover {
          .nav__dagger {
            transform: translateY(-5px);
          }
        }
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .nav__side {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: $space;
    padding-bottom: $space / 2;
  }

  .nav__item {
    @include padding(1, 0.5);
    line-height: 1;
    //text-transform: uppercase;
    position: relative;

    a {
      position: relative;

      .nav__slider {
        pointer-events: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        border-bottom: 1px solid $colourHover;
        transition: $transition;
      }

      .dropdown-hint {
        display: inline-block;
        width: 6px;
        height: 6px;
        border-bottom: 1px solid $white;
        border-right: 1px solid $white;
        transform: translate(0px, -2px) rotate(45deg);
      }

      &:hover {
        .nav__slider {
          opacity: 1;
          width: 100%;
        }

        .dropdown-hint {
          border-color: $colourHover;
        }
      }
    }
  }

  &.active {
		transform: translateY(-$navThreshold) !important;
		background: darken($colourAlt, 20%);

    .nav__title {
      color: $red;
    }
  }

  @media screen and (max-width: $siteWidth) {
    .nav__inner {
      width: 100%;
      padding-left: 0;
    }
  }
}
