.sidebar {
  position: absolute;
  top: $space * 3;
  right: $siteWidth + $space * 2;
  width: $sizeSidebar;
  background-color: $colourBreadcrumb;
  border: $borderSingleGrey;
  display: flex;
  flex-direction: column;
  @include padding(1, 0.5);
  padding-bottom: $space;
  user-select: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity $transition;
  box-shadow: $dropShadow;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  .sidebar-title {
    font-size: $fontSmall;
    padding-bottom: $space / 4;
    margin-bottom: $space / 4;
    //border-bottom: $borderSingle;
    //text-transform: uppercase;
  }

  .sidebar-item {
    padding-top: $space / 2;
    border-bottom: $borderSingleGrey;
    width: 100%;
    letter-spacing: normal;
    font-size: $fontMedium;
    //white-space: nowrap;
    //text-overflow: ellipsis;
    //overflow: hidden;
    cursor: pointer;

    a {
      display: flex;
      flex: 1;
      width: 100%;
      height: 100%;
      //white-space: nowrap;
      //text-overflow: ellipsis;
      //overflow: hidden;
    }

    &.active, &:hover {
      color: $colourHover;
      border-bottom-color: $colourHover;
      //text-decoration: underline;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  @media screen and (max-width: $tablet) {
    display: none;
  }
}
