.wrapper {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: $space;

	.content {
		width: $large;
		padding-left: $space;
		padding-right: $space;

		@media screen and (max-width: $large) {
			width: 100%;
		}
	}
}
