.wrapper {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;

	.content {
		width: $large;
		display: flex;
		flex-direction: column;
		padding-top: $space * 2;

		&.content--index {
			padding-top: 0;
		}

		@media screen and (max-width: $large) {
			width: 100%;
		}
	}
}
