<div class='content content--grid'>
	{% comment %} PRODUCT COLUMNS {% endcomment %}
	{% include 'GRID_collection_products' %}

	{% comment %} COLLECTION DESCRIPTION {% endcomment %}
	{% if collection.description != blank %}
		<div class='page credits'>
			<p>{{ collection.description }}</p>
		</div>
	{% endif %}

	{% include 'SIDEBAR_collections' %}
</div>
