<!-- index, display products in grid -->
{% if collection.products.size > 0 %}
	<div class="columns">
		{% for i in (0..2) %}
			<div id="column-first" class="columns__column columns__column-third">
				{% assign index = 0 %}
				{% for product in collection.products %}
					{% assign flag = index | minus:i | modulo:3 %}
						{% if flag == 0 %}
							{% include 'grid-item-product' %}
						{% endif %}
					{% assign index = index | plus: 1 %}
				{% endfor %}
			</div>
		{% endfor %}

		<!-- medium -->
		{% for i in (0..1) %}
			<div class="columns__column columns__column-half">
				{% assign index = 0 %}
				{% for product in collection.products %}
					{% assign flag = index | minus:i | modulo:2 %}
						{% if flag == 0 %}
							{% include 'grid-item-product' %}
						{% endif %}
					{% assign index = index | plus: 1 %}
				{% endfor %}
			</div>
		{% endfor %}

		<!-- small/ mobile screen -->
		<div class="columns__column columns__column-single">
			{% for product in collection.products %}
				{% include 'grid-item-product' %}
			{% endfor %}
		</div>
	</div>
{% endif %}

{% if collection.description != blank %}
	<div class='page thin credits'>
		<p>{{ collection.description }}</p>
	</div>
{% endif %}
