<!-- index, display products in grid -->

<div class="columns">
	{% for i in (0..2) %}
	<div id="column-first" class="columns__column columns__column-third">
		{% assign index = 0 %}
		{% for product in collection.products %}
			{% for image in product.images %}
				{% assign test = index | minus:i | modulo:3 %}
				{% if test == 0 %}
					{% include 'grid-item-product' %}
				{% endif %}
				{% assign index = index | plus: 1 %}
			{% endfor %}
		{% endfor %}
	</div>
	{% endfor %}

	<!-- medium screen -->
	{% for i in (0..1) %}
	<div class="columns__column columns__column-half">
		{% assign index = 0 %}
		{% for product in collection.products %}
			{% for image in product.images %}
				{% assign test = index | minus:i | modulo:2 %}
				{% if test == 0 %}
					{% include 'grid-item-product' %}
				{% endif %}
				{% assign index = index | plus: 1 %}
			{% endfor %}
		{% endfor %}
	</div>
	{% endfor %}

	<!-- small screen -->
	<div class="columns__column columns__column-single">
		{% for product in collection.products %}
			{% for image in product.images %}
				{% include 'grid-item-product' %}
			{% endfor %}
		{% endfor %}
	</div>
</div>

{% if collection.description != blank %}
	<p>{{ collection.description }}</p>
{% endif %}
