<!-- index layout -->

{% include 'index_featured' %}
<div class='content'>
	{% include 'index_about' %}
	{% include 'index_blog' %}
	{% include 'index_video' %}
	{% include 'index_editorials' %}
	{% include 'index_instagram' %}
	{% include 'index_newsletter' %}
</div>

<!-- widgets -->
{% include 'widget_audioplayer' %}
