{% comment %} ~/pages/editorials {% endcomment %}

<div class='content'>
	<h1>{{ page.title }}</h1>
	<div class='page'>
		<div class="columns">
			{% comment %} LARGE SCREEN -- 3 COLUMNS {% endcomment %}
			{% for i in (0..2) %}
			<div id="column-first" class="columns__column columns__column-third">
				{% assign index = 0 %}
				{% for article in blogs.editorials.articles %}
					{% assign test = index | minus:i | modulo:3 %}
						{% if test == 0 %}
							{% include 'article-grid' %}
						{% endif %}
					{% assign index = index | plus: 1 %}
				{% endfor %}
			</div>
			{% endfor %}

			{% comment %} MEDIUM SCREEN -- 2 COLUMNS {% endcomment %}
			{% for i in (0..1) %}
			<div class="columns__column columns__column-half">
				{% assign index = 0 %}
				{% for article in blogs.editorials.articles %}
					{% assign test = index | minus:i | modulo:2 %}
						{% if test == 0 %}
							{% include 'article-grid' %}
						{% endif %}
					{% assign index = index | plus: 1 %}
				{% endfor %}
			</div>
			{% endfor %}

			{% comment %} SMALL SCREEN -- 1 COLUMN {% endcomment %}
			<div class="columns__column columns__column-single">
				{% for article in blogs.editorials.articles %}
					{% include 'article-grid' %}
				{% endfor %}
			</div>
		</div>
		<br />
	</div>
</div>
