<div class="password-page disabled">
	<div class="landing-page__image" style='opacity:0.125;'>
     <img src="{{ 'alabama_1.png' | file_url }}">
	</div>
	<div class="password-page__message font-half">
		AlabamaBlonde.com is currently offline for scheduled maintenance until March 16th.
		<br />
		Please check back soon!
	</div>
</div>

<div class='password-background'></div>
