<div class="password-page">
	<div class='password-page__inner'>
		AlabamaBlonde.com is currently offline for scheduled maintenance &dagger; Check back soon!
		<br /><br />
		<div class='password'>
			{% form 'storefront_password' %}
				{{ form.errors | default_errors }}
				<input type="password" name="password">
				<input type="submit" value="Enter">
			{% endform %}
		</div>
	</div>
</div>
