.jp-audio {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: $indexAudio;
	font-size: $fontSizeMenu;

	.jp-pause, .jp-play {
		border: none;
		background: none;
		padding: $space * 1.6;
		outline: none !important;
		margin: 0;
		transition: $transition;
		font-weight: bold;
		font-size: 22px;

		img {
			width: 20px;
			height: 20px;
		}

		&.active {
			display: none;
		}
	}

	.jp-play {
		text-decoration: line-through;
	}

	@media screen and (max-width: $large) {
		left: auto;
		right: 0;
	}

	@media screen and (max-width: $medium) {
		display: none;
	}
}
