.jp-audio {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: $indexAudio;
	font-size: $fontSizeMenu;

	.jp-pause, .jp-play {
		border: none;
		background: none;
		padding: $space * 1.6;
		outline: none !important;
		margin: 0;
		transition: $transition;
		font-weight: bold;
		font-size: 22px;

		img {
			width: 20px;
			height: 20px;
		}

		&.active {
			display: none;
		}
	}

	.jp-play {
		text-decoration: line-through;
	}

	@media screen and (max-width: $large) {
		left: auto;
		right: 0;
	}

	@media screen and (max-width: $medium) {
		display: none;
	}
}

/*
	.jp-type-single {
		width: 100%;
		padding: $space;

		@media screen and (max-width: $large) {
			width: 100%;
		}

		.jp-gui {
			width: 100%;

			.jp-row {
				width: 100%;
			}

			.jp-controls {
				display: inline;

				.jp-play, .jp-pause, .jp-stop {
					display: inline;
					border: none;
					background: none;

					img {
						width: 20px;
						height: 20px;

						&.active {
							opacity: 0.5;
						}
					}

					&:focus {
						outline: 0;
					}
				}
			}

			.jp-volume-controls {
				display: inline;
				float: right;

				.jp-mute {
					display: inline-block;
					border: none;
					background: none;
					text-transform: uppercase;
					font-weight: bold;
					padding-left: $space / 2;

					&:focus {
						outline: 0;
					}
				}
				.jp-volume-bar {
					display: inline-block;
					width: 100px;
					height: $space;
					background: $grey;

					.jp-volume-bar-value {
						width: 100%;
						height: 100%;
						background: $colourSelected;
					}
				}
			}

			.jp-progress {
				width: 100%;

				.jp-seek-bar {
					width: 100%;
					height: $space;
					background: $grey;

					.jp-play-bar {
						height: 100%;
						background: $colourSelected;
					}
				}
			}

			.jp-time-holder {
				.jp-current-time {

				}
				.jp-duration {

				}
				.jp-toggles {

				}
			}
		}
	}

	&:hover, &.active {
		.jp-type-single	{
			//-webkit-transform: translateY(0);
			//transform: translateY(0);
		}
	}

	&.hover-disabled {
		display: none;
	}

	&.jp-state-muted {
		.jp-mute {
			text-decoration: line-through;
		}
	}
}
*/
