
.columns {
	width: 100%;
	display: -webkit-flex;
	display: flex;
  font-size: $fontSize;

	.columns__column {
		min-height: 100vh;

		.collection, .product {
			position: relative;
			width: 100%;
			margin-bottom: $space;
			-webkit-transition: opacity $transitionSlow;
			transition: opacity $transitionSlow;

			a {
				img {
					display: block;
					width: 100%;
					height: auto;
					-webkit-filter: saturate(0%);
					filter: saturate(0%);
					-webkit-transition: $transitionSlow;
					transition: $transitionSlow;
					margin: 0;
				}

        .collection__name {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.5);
          opacity: 0;
          transition: $transition;
          display: flex;
          justify-content: center;
          align-items: center;
					overflow: visible;

          .collection__name__inner {
            width: 85%;
            text-transform: uppercase;
						text-align: center;
						white-space: normal;
						color: white;
          }
        }

				.collection__prompt, .product__name, .product__prompt, .article__name {
					position: absolute;
					top: 0;
					left: 0;
					color: white;
					pointer-events: none;
					opacity: 0;
					width: 100%;
					white-space: normal;
					text-transform: uppercase;
					padding: $space / 2;
					padding-top: 0;
					padding-bottom: 0;
					z-index: $indexPrompt;
					letter-spacing: 1px;
					transition: letter-spacing $transitionNormal;
				}

				.collection__prompt {
					top: auto;
					bottom: 0;
					text-align: right;
					color: $colourAlt;
					text-transform: lowercase;

					&.small {
						font-size: 50%;
					}
				}

				.product__name {
					word-break: normal;
					top: auto;
					bottom: 0;
					text-align: right;
					text-transform: none;
					padding-bottom: $space / 4;
					padding-right: $space / 2;
					color: $colourAlt;

					.product__name__text {
					}

					&.small {
						font-size: 50%;
					}
				}

				.article__name {
					word-break: normal;
					text-transform: none;
					transition: padding $transitionNormal, letter-spacing $transitionNormal;
					font-size: 85%;

					&.small {
						font-size: 50%;
					}
				}

				.product__prompt {
					word-break: normal;
					top: auto;
					bottom: 0;
					text-align: right;
					text-transform: none;
					color: $colourAlt;

					&.small {
						font-size: 50%;
					}
				}
			}

			&:hover, &:active {
				a {
					img {
						-webkit-filter: saturate(100%);
						filter: saturate(100%);
					}

					.collection__prompt, .collection__name, .product__prompt, .product__name, .article__name {
						opacity: 1;
					}

					.product__name {
						padding-bottom: $space;
						padding-right: $space * 2.25;
					}
				}
			}
		}
	}

	.columns__column-third {
		width: 33.33%;
		display: none;

		&:nth-child(1) {
			padding-right: $space * 0.66;
		}
		&:nth-child(2) {
			padding-left: $space * 0.33;
			padding-right: $space * 0.33;
		}
		&:nth-child(3) {
			padding-left: $space * 0.66;
		}

		@media screen and (min-width: $medium) {
			display: block;
		}
	}

	.columns__column-half {
		width: 50%;
		display: none;

		&:nth-child(4) {
			padding-right: $space / 2;
		}
		&:nth-child(5) {
			padding-left: $space / 2;
		}

		@media screen and (max-width: $medium - 1) and (min-width: $small) {
			display: block;
		}
	}

	.columns__column-single {
		width: 100%;
		display: none;

		@media screen and (max-width: $small - 1) {
			display: block;
		}
	}
}
