.footer {
	width: 100%;
	padding-bottom: $space * 4;
	z-index: $indexFooter;
	background: $colourNav;
	display: flex;
	justify-content: center;

	.footer__inner {
		width: $large;
		padding: $space;

		@media screen and (max-width: $large) {
			width: 100%;
		}

		.social-media {
			width: 100%;
			
			.social-media__list {
				color: $white;
				width: 100%;
				display: flex;

				.social-media__list__item {
					font-size: $fontSize;
					padding-right: $space;

					a {
						text-decoration: none;

						&:hover {
							color: $colourAlt;
						}
					}
				}
			}
		}
	}
}

.payments-title {
	color: $colour;
}
