form {
	width: 100%;
	font-family: $fontStack;
}

label {
	display: block;
	font-size: $fontSizeFormLabel;
	font-family: $fontStack;
}

textarea {
	display: block;
	font-family: $fontStack;
	font-size: $fontSizeFormLabel;
	margin-top: $space * 2;
	margin-bottom: $space * 2;
	padding: $space;
	padding-top: $space / 2;
	width: 100%;
	border: $spaceBorder solid $colourText;
	font-size: $fontSizeFormInput !important;
	letter-spacing: 0;
	outline: none !important;
}

select, button, input {
	font-family: $fontStack;
	display: block;
	margin-top: $space * 2;
	margin-bottom: $space * 2;
	padding: $space;
	padding-top: $space / 2;
	padding-bottom: $space / 2;
	border: none;
	border-bottom: $spaceBorder solid $colourText;
	font-size: $fontSizeFormInput;
	letter-spacing: 0;
	outline: none !important;
	background: #eee;
}

button {
	border: $spaceBorder solid $colourText;
	font-weight: bold;
}

.js-qty {
	input {
		border: $spaceBorder solid $colourText;
	}
}

input[type="submit"] {
	padding-top: $space;
	padding-bottom: $space;
	cursor: pointer;
	font-size: 100%;
	font-size: $fontSizeFormInput;
	outline: none !important;
	font-family: $fontStack;
	border: $spaceBorder solid $colourText;
}

input[type="checkbox"] {
	display: inline;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: none;
	border: $spaceBorder solid black;
	outline: none !important;
	font-family: $fontStack;
}

button {
	cursor: pointer;
	font-family: $fontStack;
}

input {
	width: 100%;
}
