@keyframes rotatehue {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


$top : #1d0001;
$bottom : #b20019;

$zBackground: $indexLanding;
$zVideo: $indexLanding + 1;
$zLogo: $indexLanding + 2;

#landing-video {
	@extend .noselect;
	position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
	z-index: $zVideo;
	opacity: 0.75;
}

.landing-background {
	@extend .noselect;
	position: fixed;
	top: 0 !important;
	width: 100vw;
	height: 100vh;
	z-index: $zBackground;
	-webkit-transition: opacity $transitionSlow;
	transition: opacity $transitionSlow;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background: black;

	&.mobile {
		background: $colourAlt;
		background: -webkit-linear-gradient($top, $bottom);
		background: -o-linear-gradient($top, $bottom);
		background: -moz-linear-gradient($top, $bottom);
		background: linear-gradient($top, $bottom);
	}
}

.landing-page {
	@extend .noselect;
	position: fixed;
	top: 0 !important;
	width: 100vw;
	height: 100vh;
	z-index: $zLogo;
	-webkit-transition: opacity $transitionSlow;
	transition: opacity $transitionSlow;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	display: flex;
	align-items: center;
	justify-content: center;

	.landing-page__prompt {
		@extend .noselect;
		position: fixed;
		color: $colourBackground;
		bottom: 0;
		right: 0;
		padding: $space * 12;
		cursor: pointer;
		z-index: $indexLandingPrompt;
		color: $colourBackground;

		&:hover {
			text-decoration: underline;
		}

		@media screen and (max-width: $medium) {
			padding: $space * 4;
		}
	}

	.landing-page__image {
		width: 50vh;
		cursor: pointer;

		img {
			width: 100%;
			height: auto;
			display: none;

			&.active {
				display: inline;
			}
		}
	}

	&.disabled {
		display: none;
	}
}

.password-page {
	@extend .noselect;
	position: fixed;
	top: 0 !important;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: $zLogo;
	-webkit-transition: opacity $transitionSlow;
	transition: opacity $transitionSlow;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	display: flex;
	align-items: center;
	justify-content: center;

	.password-page__image {
		width: 50vh;
		cursor: pointer;

		img {
			width: 100%;
			height: auto;
			display: none;

			&.active {
				display: inline;
			}
		}
	}

	.password-page__message {
		@extend .noselect;
		position: fixed;
		text-align: center;
		width: 100%;
		color: $colourBackground;
		bottom: 20vh;
		right: 0;
		cursor: pointer;
		z-index: $indexLandingPrompt;
		color: $colourBackground;

		@media screen and (max-width: $medium) {
			padding: $space * 4;
		}
	}
}

.password-background {
	@extend .noselect;
	position: fixed;
	top: 0 !important;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: $zBackground;
	-webkit-transition: opacity $transitionSlow;
	transition: opacity $transitionSlow;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background: black;

	&.mobile {
		background: $colourAlt;
		background: -webkit-linear-gradient($top, $bottom);
		background: -o-linear-gradient($top, $bottom);
		background: -moz-linear-gradient($top, $bottom);
		background: linear-gradient($top, $bottom);
	}
}
