.nav {
	@extend .noselect;
	position: fixed;
	top: 0 !important;
	left: 0;
	width: 100%;
	height: $sizeNav;
	padding: $space;
	padding-bottom: $space * 0.25;
	color: $white;
	background: $colourNav;
	z-index: $zNav;
	font-size: $fontLarge;
	font-weight: normal;
	display: flex;
	justify-content: center;

	.nav__inner {
		@include pad-x(1);
		width: $large;
		height: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		.nav__inner__title {
			border-bottom: $space solid $white;
			margin-bottom: $space;
			transition: border $transitionSlow;
		}

		.nav__inner__menu {
			display: flex;
			font-size: $fontMedium;
			padding-bottom: $space / 2;

			.nav-item {
				padding-left: $space * 1.5;
				cursor: pointer;

				&.active, &:hover {
					color: $colourAlt;
				}
			}
		}

		@media screen and (max-width: $large) {
			width: 100%;
		}
	}

	&.active {
		transform: translateY(-45px) !important;

		.nav__inner {
			.nav__inner__title {
				margin-bottom: 0px;
				border-bottom: 0px solid $colourNav;
			}
		}
	}
}
