.nav {
	@extend .noselect;
	position: fixed;
	top: 0 !important;
	left: 0;
	width: 100%;
	height: $sizeNav;
	padding: $space;
	padding-bottom: 0;
	color: $white;
	background: $colourNav;
	z-index: $zNav;
	font-size: $fontLarge;
	font-weight: normal;
	display: flex;
	justify-content: flex-end;

	.nav__inner {
		@include pad-x(1);
		width: calc(100% - ((100% - #{$large}) / 2));
		height: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		.nav__inner__title {
			border-bottom: $space solid $white;
			margin-bottom: $space;

			&:hover, &:active {
				color: $colourAlt;
				border-bottom: $space solid $colourAlt;
			}
		}

		.nav__inner__menu {
			display: flex;
			font-size: $fontMedium;
			padding-bottom: $space / 2;

			.nav-item {
				@include pad-x(0.5);
				cursor: pointer;
				text-transform: lowercase;

				&.active, &:hover {
					color: $colourAlt;
				}
			}
		}

		@media screen and (max-width: $large) {
			width: 100%;
		}
	}
}
