$sliderSize: 72.5vh;

.slider-offset {
	height: $sliderSize;
}

.slick-slider {
	position: absolute;
	left: 0;
	width: 100%;
	padding-top: $space;
	padding-bottom: $space / 2;
	cursor: crosshair;
}

.slick-track {
	height: $sliderSize;
}

.slick-slide {
	transition: $transition;
	outline: none !important;
	padding: $space;
	display: flex;
	align-items: center;
	filter: saturate(0%);

	img {
		height: 100%;
		width: auto;
	}

	&.slick-active {
		filter: saturate(100%);
	}
}

.slick-next, .slick-previous {
	display: none;
}
