.custom-snappt-header {
  font-size: $fontLarge;
  font-family: $fontStackCursive;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-align: center;
  padding-top: $space * 2;

  @media screen and (max-width: $mobile) {
    font-size: $fontLargeMobile;
  }
}

.custom-snappt-subheader {
  padding: 0;
  margin: 0;
  font-weight: normal;
  text-decoration: underline;
  text-decoration: underline;
  padding-bottom: $space * 2;
  text-align: center;
}
