.index-about {
  display: flex;
  width: 100%;
  height: 80vh;
  margin-bottom: $space * 6;

  .index-about__left {
    width: 55%;
    height: 100%;
    padding-left: $space * 2;
    padding-right: $space * 2;

    .index-about__inner {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      //border-bottom: $borderBlack;

      .index-about__content {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        //padding-right: $space * 3;
        padding-bottom: $space * 5;
        text-align: right;

        .index-about__title {
          font-weight: bold;
          font-size: $fontHuge;
          font-family: $fontStackCursive;
          padding-bottom: $space;

          .red {
            color: $red;
          }
        }

        .index-about__text {}
      }

      .index-about__banner {
        height: 80px;
        width: 100%;
        background: $backgroundCustom;
      }
    }
  }

  .index-about__right {
    width: 45%;
    height: 100%;

    .index-about__image {
      width: 100%;
      height: 100%;
      overflow: hidden;
      padding-right: $space * 2;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  @media screen and (max-width: $tablet) {
    height: 60vh;
  }

  @media screen and (max-width: $mobile) {
    flex-direction: column-reverse;
    height: auto;

    .index-about__right {
      display: none;
    }

    .index-about__left {
      width: 100%;

      .index-about__inner {
        .index-about__content {
          width: 100%;
          align-items: flex-end;
          padding-bottom: $space * 4;
          padding-top: $space * 4;

          .index-about__title {
            width: 100%;
            font-size: $fontHugeMobile;
            line-height: 1;
            text-align: center;
          }

          .index-about__text {
            width: 100%;
            text-align: left;
          }
        }

        .index-about__banner {
          height: 20px;
        }
      }
    }
  }
}
