.index-about {
  display: flex;
  width: 100%;
  margin-bottom: $space * 6;

  .index-about__left {
    width: 66.66%;
    padding-left: $space * 2;
    padding-right: $space * 0.33 * 2;

    .index-about__inner {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      //border-bottom: $borderBlack;

      .index-about__content {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        padding-right: 0;//$space * 2;
        //padding-bottom: $space * 2;
        text-align: right;

        .index-about__title {
          font-weight: bold;
          font-size: $fontHuge;
          font-family: $fontStackCursive;
          padding-bottom: $space;

          .red {
            color: $red;
          }
        }

        .index-about__text {
          a {
            font-size: $fontSmall;
            text-transform: uppercase;
            text-decoration: underline;
          }
        }
      }

      .index-about__banner {
        height: 80px;
        width: 100%;
        //background: $backgroundCustom;
        background-image: $backgroundImage1;
        background-size: 32px 32px;
      }
    }
  }

  .index-about__right {
    width: 33.33%;
    height: 100%;
    padding-left: $space * 0.66 * 2;

    .index-about__image {
      width: 100%;
      height: 300px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .index-about__mobile {
    display: none;
    flex-direction: column;
    padding: $space;
    position: relative;
    border-top: $borderDouble;
    border-bottom: $borderDouble;
  }

  @media screen and (max-width: $tablet) {
    height: 60vh;
  }

  @media screen and (max-width: $mobile) {
    display: none;

    .index-about__left, .index-about__right {
      display: none;
    }
  }
}
