@keyframes anim {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

.loading-screen {
	z-index: $indexLoadingScreen;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: $black;
	opacity: 1.0;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;

	.loading-msg {
		font-weight: bold;
		color: white;
		font-family: $fontStackCursive;
		animation-name: anim;
		animation-duration: 1.0s;
		animation-iteration-count: infinite;

		img {
			height: 80px;
			width: auto;
			-webkit-filter: saturate(0%) brightness(50%);
			filter: saturate(0%) brightness(50%);
		}
	}
}
