$top: #1d0001;
$bottom: #b20019;

#landing-video {
	@extend .noselect;
	position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
	z-index: $zLandingPage + 1;
	opacity: 0.75;
}

.landing-background {
	@extend .noselect;
	position: fixed;
	top: 0 !important;
	width: 100vw;
	height: 100vh;
	z-index: $zLandingPage;
	-webkit-transition: opacity $transitionSlow;
	transition: opacity $transitionSlow;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background: black;

	&.mobile {
		background: $colourAlt;
		background: -webkit-linear-gradient($top, $bottom);
		background: -o-linear-gradient($top, $bottom);
		background: -moz-linear-gradient($top, $bottom);
		background: linear-gradient($top, $bottom);
	}
}

.landing-page {
	@extend .noselect;
	position: fixed;
	top: 0 !important;
	width: 100vw;
	height: 100vh;
	z-index: $zLandingPage + 2;
	-webkit-transition: opacity $transitionSlow;
	transition: opacity $transitionSlow;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	display: flex;
	align-items: center;
	justify-content: center;

	.landing-page__prompt {
		@extend .noselect;
		position: fixed;
		color: $colourBackground;
		bottom: 0;
		right: 0;
		padding: $space * 12;
		cursor: pointer;
		z-index: $zLandingPage + 3;
		color: $colourBackground;
    font-size: $fontLarge;

		.landing-page__prompt__inner {
			padding: $space;
			border-bottom: 4px solid transparent;
		}

		&:hover {
			.landing-page__prompt__inner {
				border-bottom: $border;
			}
		}

		@media screen and (max-width: $medium) {
			padding: $space * 4;
		}

		@media screen and (max-width: $medium) {
			font-size: $fontMedium;

			.landing-page__prompt__inner {
				border-bottom: $border;
			}
		}
	}

	.landing-page__image {
		width: 50vh;
		cursor: pointer;

		img {
			width: 100%;
			height: auto;
			display: none;

			&.active {
				display: inline;
			}
		}
	}

	&.disabled {
		display: none;
	}
}
