.index-video {
  width: 100%;
  @include padding(0, 3);

  .index-video__heading {
    @include padding(0, 1);
    font-size: $fontLarge;
    font-family: $fontStackCursive;
  }

  .index-video__subheading {
    padding-bottom: $space;

    a {
      text-decoration: underline;
    }
  }

  .index-video__inner {
    width: 100%;
    display: flex;
    @include padding(0, 1);

    .index-video__item {
      width: 50%;

      a {
        .index-video__image {
          width: 100%;
          height: 300px;
          overflow: hidden;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
          }

          
        }

        .index-video__title {
          padding-top: $space;
          font-weight: bold;
          text-decoration: underline;
        }

        &:hover {
          .watch-prompt {
            opacity: 1;
          }
        }
      }

      &:first-child {
        padding-right: $space;
      }

      &:last-child {
        padding-left: $space;
      }
    }
  }
}
