.index-row {
  width: 100%;
  @include padding(0, 4);

  &.index-row--alt {
    position: relative;
    @include margin(0, 2);
    @include padding(4, 2);

    &:after {
      content: "";
      background-image: $backgroundImage1;
      background-size: 32px 32px;
      background-color: $colourBreadcrumb;
      opacity: 0.3;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    @media screen and (max-width: $mobile) {
      @include padding(2, 2);
    }
  }

  .index-row__heading {
    margin-top: $space;
    line-height: 1;

    .heading {
      font-size: $fontLarge;
      font-family: $fontStackCursive;
      font-weight: bold;
      display: inline-block;
      text-transform: uppercase;
      padding-bottom: $space / 2;
    }

    .subheading {
      padding-bottom: $space / 2;
      text-transform: uppercase;

      a {}
    }
  }

  .index-row__inner {
    width: 100%;
    display: flex;
    @include padding(0, 1);

    .index-row__item {
      width: 33.33%;
      display: flex;

      a {
        display: flex;
        flex: 1;
        flex-direction: column;

        .index-row__image {
          width: 100%;
          height: 300px;
          overflow: hidden;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-position: left top;
            object-fit: cover;
            transition: transform $transitionSlow, filter $transitionSlow;
          }

          .index-row__prompt {
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: none;
            z-index: 10;

            svg {}
          }
        }

        .index-row__content {
          padding-top: $space;

          .index-row__title {
            padding-top: $space / 2;
            font-weight: bold;
            font-family: $fontStackCursive;
            line-height: 1;
            //text-decoration: underline;
          }

          .index-row__excerpt {

          }
        }

        &:hover {
          .index-row__image {
            .index-row__prompt {
              opacity: 1;
            }

            img {
              //transform: scale(1.05, 1.05);
              filter: grayscale(50%) contrast(150%);
            }
          }
        }
      }

      // COLUMN SPACING
      &:first-child {
        padding-right: $space * 0.66 * 2;
      }

      &:nth-child(2) {
        padding-left: $space * 0.33 * 2;
        padding-right: $space * 0.33 * 2;
      }

      &:last-child {
        padding-left: $space * 0.66 * 2;
      }

      &.index-row__item--half {
        width: 50%;

        &:first-child {
          padding-right: $space;
        }

        &:nth-child(2) {
          padding-left: $space;
          padding-right: 0;
        }
      }
    }
  }

  @media screen and (max-width: $tablet) {
    .index-row__inner {
      .index-row__item {
        a {
          .index-row__image {
            height: 200px;
          }
        }
      }
    }
  }

  @media screen and (max-width: $mobile) {
    @include padding(0, 1);

    .index-row__heading {
      border-bottom: $borderDouble;
      position: relative;
      padding-top: $space;

      .heading {
        font-size: $fontLargeMobile;
      }
    }

    &.index-row--alt .index-row__heading:after {
      opacity: 0;
    }

    .index-row__inner {
      flex-wrap: wrap;
      padding-top: 0;

      .index-row__item, .index-row__item--half {
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: $space * 3;
        padding-top: 0;
      }

      .index-row__item a .index-row__image {
        height: 240px;
      }

      .index-row__item a .index-row__content {
        padding-top: $space;
        padding-bottom: $space;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: $backgroundImage1;
          background-size: 32px 32px;
          opacity: 0.2;
          z-index: -1;
          pointer-events: none;
        }

        .index-row__title {
          text-transform: uppercase;
          font-size: $fontSize;
        }
      }
    }

    &.index-row--alt {
      .index-row__inner .index-row__item a .index-row__image {
        height: 200px;
      }

      .index-row__inner .index-row__item a .index-row__content:after {
        opacity: 0;
      }
    }
  }
}
